/* NAVIGATION STUFF GOES HERE  */
header{
    grid-template-columns: 51px auto auto;
    div#phone{
        display: block;
        justify-self: end;
        a{
            color: $secondaryColor;
            text-decoration: none;
            font-weight: normal;
            font-size: 1.5rem;
        }
        a:hover{color: $primaryColor;}
    }
}



div#hamburger, div#closex {display: none;}
nav{
    height: auto;
    ul{
        display: flex;
        justify-content: end;
        border: none;
        li{border: none;}
    }
}

div#headerWrapper{grid-row-start: 1;}
div#navWrapper{grid-row-start: 2;}
div#mainWrapper{grid-row-start: 3;}
div#footerWrapper{grid-row-start: 4;}

